<ion-view title="Anunciar">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">
    <h1>Anunciar</h1>

      <form action="">
          <label class="item item-input">
              <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
              <input type="file" placeholder="Foto">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Modelo">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Nome">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Telefone Claro">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Telefone Oi">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Telefone Tim">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Telefone Vivo">
          </label>

          <div class="padding">
             <input type="submit" value="Anunciar" class="button button-positive"/>
          </div>

      </form>
  </ion-content>
</ion-view>
