<ion-view title="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" >
     <h3 class="titulo">Escolha as Fotos</h3>

      <form action="">

          <div class="row">

              <div class="col">
                  <div class="row">
                      <div class="botao-imagem col">1</div>
                      <div class="botao-imagem col">2</div>
                  </div>
                  <div class="row">
                      <div class="col"></div>
                  </div>
                  <div class="row">
                      <div class="botao-imagem col">3</div>
                      <div class="botao-imagem col">4</div>
                  </div>

                  <div class="row">
                      <div class="col" style="padding-left: 0;">
                          <a id="bt-app" class="button button-icon button-positive" style="width: 100%; margin-top: 10px;" href="#/app/novoAnuncio2">Adicionar Foto</a>
                      </div>
                      <div class="col" style="padding-right: 0;">
                          <a id="bt-app" class="button button-icon button-positive" style="width: 100%; margin-top: 10px;" href="#/app/novoAnuncio2">Próximo</a>
                      </div>
                  </div>
              </div>
          </div>





      </form>


  </ion-content>
</ion-view>
