<ion-view title="">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>
    <ion-content class="has-header">

        <h3 class="titulo">Escolha a categoria</h3>
        <ion-list id="subcategorias" class="list">
            <ion-item ng-repeat="categoria in categorias" href="#/app/novoAnuncio3/{{categoria.id}}" class="item item-thumbnail-left">
                <div class="img_sub">
                    <img src="img/barco.png" width="50">
                </div>
                <h2>{{categoria.nome}}</h2>

            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>


