<ion-view title="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">
    <h3>Publicar</h3>

      <form action="">



          <label class="item item-input">
              <input type="text" placeholder="Titulo">
          </label>

          <label class="item item-input">
              <input type="text" placeholder="Ano de Fabricação">
          </label>

          <label class="item item-input">
              <input type="text" placeholder="Valor">
          </label>

          <label class="item item-input">
              <input type="text" placeholder="Nome do Vendedor">
          </label>

          <label class="item item-input">
              <input type="text" placeholder="Email do Vendedor">
          </label>

          <label class="item item-input">
              <input type="text" placeholder="Cidade">
          </label>

          <label class="item item-input">
              <input type="text" placeholder="Estado">
          </label>


          <label class="item item-input">
              <input type="text" placeholder="Telefone Fixo">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Telefone Celular">
          </label>


          <div class="padding">
             <input type="submit" value="Publicar" class="button button-positive"/>
          </div>



      </form>
      
  </ion-content>
</ion-view>
