<ion-view title="">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true">

        <h3 class="titulo">Não Encontrei</h3>

        <form name="anuncio" ng-submit="enviaNaoEncontrei(anuncio.$valid)" novalidate>


            <div class="busca list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="modelo.nome" placeholder="Nome" required>
                </label>
            </div>

            <div class="busca list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="modelo.email" placeholder="email" required>
                </label>
            </div>

            <div class="busca list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="modelo.telefone" placeholder="Telefone">
                </label>
            </div>

            <div class="busca list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="modelo.descricao" placeholder="O que procura?" required>
                </label>
            </div>



            <div class="busca list list-inset">
                <input type="submit" value="Enviar" style="width: 100%;" id="bt-app" class="button button-icon button-positive"/>
                <!--<a href="#/app/produto/1" id="bt-app" class="button button-icon button-positive">Publicar</a>-->
            </div>



        </form>

    </ion-content>
</ion-view>
