<ion-view title="" back-button-label="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>


  <ion-content class="has-header">
      <div class="list card padding-bottom">

          <div class="item">
              <h2>{{produto.nome}}</h2>
              <p class="localizacao">{{produto.localizacao}}</p>
              <p class="preco">{{produto.valor}}</p>
          </div>

          <div class="item item-body">
              <img class="full-image" ng-src="{{produto.fotos[0]}}">

              <div class="item tabs tabs-secondary tabs-icon-left padding-bottom">
                  <a class="tab-item" href="mailto:email@email.com">
                      <i class="icon ion-ios7-email"></i>
                      Enviar Email
                  </a>
                  <a class="tab-item" ng-click="openModal()">
                      <i class="icon ion-ios7-telephone"></i>
                      Ligar
                  </a>
              </div>

              <p id="descricao-produto">
                  {{produto.descricao}}
              </p>

          </div>



      </div>

  </ion-content>
</ion-view>

<script id="modal.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-positive">
            <h1 class="title">Ligar</h1>
            <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <content has-header="true" padding="true">
            <div class="list card">
                <br/><br/>
                <p>Escolha a operadora:</p>
                <button class="button button-assertive">Claro</button><br><br>
                <button class="button button-energized">Oi</button><br><br>
                <button class="button button-positive">Tim</button><br><br>
                <button class="button button-calm">Vivo</button>
            </div>
        </content>
    </div>
</script>
