/* Empty. Add your own CSS if you like */

*{
    font-family: 'Lato', sans-serif !important;
}

.pane{
    background: #C6C6C6;
}

.bar.bar-stable{
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}

.bar.bar-stable h1.title{
    background: url('../img/logo.png') center center no-repeat;
    background-size: 40%;
}

.menu .bar.bar-stable{
    background: #133c6a;
}

.menu .bar.bar-stable h2{
    color: white;
}

#publicar, #bt-app{
    font-size: 11px;
    padding: 0 8px;
    font-weight: bold;
    background: #1a9cd8; /* Old browsers */
    background: -moz-linear-gradient(top,  #1a9cd8 0%, #1478b2 31%, #013d63 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a9cd8), color-stop(31%,#1478b2), color-stop(100%,#013d63)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1a9cd8 0%,#1478b2 31%,#013d63 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1a9cd8 0%,#1478b2 31%,#013d63 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1a9cd8 0%,#1478b2 31%,#013d63 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1a9cd8 0%,#1478b2 31%,#013d63 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a9cd8', endColorstr='#013d63',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    height: 20px;
    line-height: 28px;
    margin-top: 2px;
    margin-right: 10px;
    min-height: 31px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Lato', sans-serif;
}

h3.titulo{
    font-size: 13px;
    text-align: center;
    background: #f0f9ff;
    width: 90%;
    margin: 5px 5%;
    border-radius: 7px;
    color: #133c6a;

}

.bar.bar-positive{
    background: #133c6a;
}

.bar.bar-footer{
    padding: 0;
    height: 24px;

}

.bar.bar-footer h1{
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    color: black;
    background: none !important;
    font-weight: bold;
}

#quem-somos p{
    text-align: justify;
}

#produtos .item{
    min-height: 0px;
}

#produtos  .item a{
    border-bottom: 1px solid #000;

}

#produtos  .item h2{
    color: #000;
}

#produtos .item.destaque:first-child a{
    border-top: 1px solid #133c6a;
}

#produtos  .item.destaque a{
    /*background: rgba(240, 249, 255, 0.31);*/
    background: #f0f9ff;
    border-bottom: 1px solid #133c6a;

}

#produtos a{
    padding: 8px 10px 10px 100px;
    min-height: 30px;
}

#produtos .item.destaque h2{
    color: #133c6a;
}

#produtos h2{
    font-size: 12px;
    font-weight: bold;
}

#produtos p{
    color: #133c6a;
    font-size: 12px;
    font-weight: bold;
    color: orange;
}

.list.card{
    margin-bottom: 30px;
}

.lista-categorias > div{
     padding: 0px 10px !important;
}

.categorias{
    width: 31%;
    float: left;
    margin: 1%;
    border-radius: 5px;
}

.categorias a{
    background-color: #133c6a !important;
    padding: 15px !important;
}

.categorias a:before{
     content: '';
     border: 1px solid #86def6;
     position: absolute;
     width: 96%;
     height: 96%;
     left: 2%;
     top: 2%;
 }

.categorias a:after{
    content: '';
    border: 1px solid #FFF;
    position: absolute;
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;
}

.categorias a img{
    width: 85px;
    margin-left: -11px;
}

.categorias a h2{
    color: #FFF !important;
    font-size: 11px;
    text-align: center;

}

.envia-foto{
    background: #133c6a;
    padding: 5px 10px;
    color: white;
    float: right;
    margin-left: 48px;
}

.busca{
    margin: 8px 15px;
}

.busca .item{
    padding: 0 5px;
    margin: 0;
    /* line-height: 20px; */
    height: 30px;
}

#subcategorias .item-thumbnail-left, #subcategorias .item-thumbnail-left .item-content{
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    line-height: 30px;
    padding: 3px 45px 5px 10px;
}

#subcategorias .item-thumbnail-left .img_sub, #subcategorias .item-thumbnail-left .item-content .img_sub{
    width: 30px;
    margin: 0;
    /* left: -5px; */
    /* top: -7px; */
    background: #133c6a;
    height: 30px;
    float: left;
    position: relative;
    margin-right: 6px;
}

#subcategorias .img_sub img, #subcategorias .img_sub img{
    width: 100%;
    left: 0px;
    top: 3px;
    position: absolute;
}

#subcategorias .item-thumbnail-left h2, #subcategorias .item-thumbnail-left .item-content h2{
     font-size: 12px;
    font-weight: bold;
     /* padding-left: 25px; */
     margin-top: 2px;
}

.card .item{
    /*padding: 10px;*/
}

.card .item h2{
    font-weight: bold;
    font-size: 13px;
}

.card .item p{
    margin: 0;
}

.card p.preco{
    color: orange;
    font-weight: bold;
}

.card p.localizacao{
    font-size: 11px;
}

#descricao-produto{
    font-size: 12px;
    text-align: justify;
    /*line-height: 16px;*/
}

.checkbox{
    height: 20px;
    padding: 0;
}

.checkbox input{
    width: 20px;
    height: 20px;
    display: inline-block;

}

.checkbox input:before{
    border-radius: 5px;
    border-color: #133c6a;
}

.checkbox input:checked:before{
    background: #133c6a;
}

.checkbox input:after{
    top: 15%;
    left: 13%;
}

.checkbox span{
    display: inline-block;
    margin-top: -22px;
    float: left;
    margin-left: 29px;
    font-size: 11px;

}

.botao-imagem{
    background: #f0f9ff;
    height: 100px;
    line-height: 87px;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #E0E9EB;

    border: 3px solid #FFF;
}



